$color-background: #ecf7fd;
$color-text-available: #afd3df;
$color-text-not-available: #d6d6d6;

.menu-screen {
  display: flex;
  justify-content: center;
  background-color: $color-background;
  width: 100%;
  height: 100%;

  ul {
    margin: auto;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 15px auto;
    text-align: center;
  }

  a {
    font-size: 36px;
    text-decoration: none;
  }

  .available{
    color: $color-text-available;
  }

  .not-available{
    color: $color-text-not-available;
  }
}
