$color-background: #ecf7fd;
$color-text: #afd3df;

.menu-screen{
  background-color: $color-background;
  width: 100%;
  height: 100%;

  ul{
    margin: 30vh auto;
    padding: 0;
  }

  li{
    list-style: none;
    margin: 15px auto;
    text-align: center;
  }

  a{
    color: $color-text;
    font-size: 36px;
    text-decoration: none;
  }
}
