$color-background: #ecf7fd;
$color-shelve: #b0d4e0;
$height-elem: 12.5vh;
$diameter: $height-elem * 0.6;

.shelve-screen {
  background-color: $color-background;
  width: 100%;
  height: 100%;
}

.shelve-header {
  height: $height-elem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shelve-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shelve-cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height-elem;
  width: 25%;
  border-bottom: $color-shelve solid 5px;
}

.shelve-digit {
  height: $diameter;
  width: $diameter;
  border-radius: 50%;
  background-color: $color-shelve;
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.award {
  width: 100%;
  height: 100%;
  display: none;
  background: {
    image: url("../../img/cactus.png");
    size: contain;
    repeat: no-repeat;
    position: center center;
  }
}
