.btn{
  width: 13vmin;
  height: 15vmin;
  margin: 1vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(15deg);
}

.close-btn{
  background-color: #c4323d;
}

.faq-btn{
  background-color: #0cb3c6;
}
