.btn-container{
  height: 10vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(15deg);
  color: #ffffff;
}

.btn-large{
  height: 80%;
  width: 80%;
}

.btn-small{
  height: 65%;
  width: 65%;
}

.btn-close{
  background-color: #c4323d;

  svg {
    transform: scale(1.5);
  }
}

.btn-faq{
  background-color: #0cb3c6;

  svg {
    transform: scale(1.5);
  }
}

.btn-check{
  background-color: #748d39;

  svg {
    transform: rotate(-15deg);
  }
}

.btn-backspace{
  background-color: #c4323d;

  svg {
    transform: rotate(-15deg);
  }
}

.btn-digit{
  background-color: #0cb3c6;

  p{
    transform: rotate(-15deg);
  }
}
