body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: calc(3vw + 3vh);
  color: #35445c;
}

.temp-text {
  height: 90vh;
  line-height: 90vh;
  text-align: center;
}

.game-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #b9d8fd;
}

.game-wrapper-overlay {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(52, 53, 55, 0.54);
  z-index: 100;
}

.init-button {
  width: 42vw;
  height: 7vh;
  border: 1px solid #ededed;
  border-radius: 1vh;
  font-size: calc(1.5vh + 1.5vw);
  text-align: center;
  line-height: 7vh;
  color: #000000;
  background-color: #ededed;
}

.game-btn {
  text-decoration: none;
}

.game-wrapper_menu-page {
  justify-content: center;
  text-align: center;
}

.game-menu {
  list-style-type: none;
  padding: 0;
}

.menu-option {
  margin-top: 5vh;
}

.menu-link {
  text-decoration: none;
  color: #35445c;
}

.menu-option:first-child {
  margin: 0;
}

.header {
  height: 10vh;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-right: 6vw;
}

.close-btn {
  position: relative;
  display: block;
  width: 4vw;
  height: 4vw;
}

.close-btn-image {
  width: 100%;
  height: auto;
  position: absolute;
}

/*.success-chart-capture {
  font-size: 3vh;
  margin-bottom: 2vh;
  text-align: center;
}

.rc-progress-circle {
  height: 30vh;
}*/

.question-field {
  display: flex;
  flex-flow: column;
  margin: 2vh;
  font-size: 3vh;
  color: #3463af;
  height: 10vh;
}

.keyboard {
  width: 100%;
}

.keyboard-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: evenly;
}

.keyboard-cell {
  width: 33%;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  border: 0.5px solid #d6dde7;
  font-size: calc(2vw + 2vh);
}

/*SETTINGS*/

.settings-list {
  list-style: none;
  height: 100%;
  padding: 0;
}

.settings-item {
  display: flex;
  flex-direction: column;
  font-size: calc(2vh + 2vw);
  margin-bottom: 2vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

.settings-buttons {
  display: flex;
  flex-flow: row nowrap;
  font-size: calc(2vh + 2vw);
  justify-content: center;
}

.settings-selected {
  margin: 0 2vw;
}

/*SCORE*/

.score-list {
  list-style: none;
  padding: 0;
}

.score-item {
  font-size: calc(2vh + 2vw);
  margin-bottom: 2vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

.figures-wrapper {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
}

.figure-container {
  position: relative;
  width: calc(15vw + 15vh);
  padding-bottom: calc(15vw + 15vh);
  height: calc(15vw + 15vh);
  box-sizing: border-box;
}

.figure {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.time-count {
  width: 12vw;
  height: 12vw;
  position: absolute;
  left: 8vw;
  bottom: 50%;
  background-color: rgba(255, 235, 59, 0.7);
  border-radius: 6vw;
  text-align: center;
  line-height: 12vw;
  font-size: calc(2vh + 2vw);
}

.progress-line {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
}

.progress-line-item {
  position: relative;
  top: 2vh;
  width: calc(3vh + 3vw);
  height: calc(3vh + 3vw);
  background-color: #ffffff;
  border-radius: calc(1.5vh + 1.5vw);
  text-align: center;
  line-height: calc(3vh + 3vw);
  font-size: calc(1.5vh + 1.5vw);
  margin-right: calc(1.5vh + 1.5vw);
}

.progress-line-item:last-child {
  margin-right: 0;
}

.progress-line-item:after {
  position: absolute;
  content: "";
  height: calc(1.5vh + 1.5vw);
  width: calc(1.5vh + 1.5vw);
  top: 25%;
  right: calc(-1.5vh - 1.5vw);
  background-image: url("../img/arrow.png");
  background-size: contain;
}

.progress-line-item:last-child::after {
  background: none;
}

.historic-results-title {
  margin-bottom: 3vh;
}

.historic-results {
  display: flex;
  align-self: flex-start;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.historic-results-container {
  position: relative;
  width: calc(8vw + 8vh);
  padding-bottom: calc(8vw + 8vh);
  margin: calc(1vw + 1vh);
  box-sizing: border-box;
}

.clear-historic-results {
  position: fixed;
  bottom: 5vh;
  width: 42vw;
  height: 7vh;
  border: 1px solid #ededed;
  border-radius: 1vh;
  font-size: calc(1.5vh + 1.5vw);
  text-align: center;
  line-height: 7vh;
  color: #000000;
  background-color: #ededed;
}
